<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.ar.core.examples.java.augmentedimage">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!--
 Limits app visibility in the Google Play Store to ARCore supported devices
       (https://developers.google.com/ar/discover/supported-devices).
    -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name="com.google.ar.core.examples.java.InstargramShare"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            ></activity>
        <activity android:name="com.google.ar.core.examples.java.monster.MonsterThreeActivity"></activity>
        <activity android:name="com.google.ar.core.examples.java.monster.MonsterTwoActivity"></activity>
        <activity android:name="com.google.ar.core.examples.java.game.MonsterOneActivity"></activity>
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep7" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep6_wrong" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep6_answer" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep5_wrong" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep5_answer" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep4_wrong" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep4_answer" />
        <activity android:name="com.google.ar.core.examples.java.game.Game4Activity" />
        <activity android:name="com.google.ar.core.examples.java.game.Game0Intro" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep3_question" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep2_wrong" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep2_answer" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep1_wrong" />
        <activity android:name="com.google.ar.core.examples.java.gamelist.ep1_answer" />
        <activity android:name="com.google.ar.core.examples.java.game.Game0Next" />
        <activity android:name="com.google.ar.core.examples.java.game.Game0Activity" />
        <activity android:name="com.google.ar.core.examples.java.game.Game3Next" />
        <activity android:name="com.google.ar.core.examples.java.game.Game3Intro" />
        <activity android:name="com.google.ar.core.examples.java.game.Game3Activity" />
        <activity android:name="com.google.ar.core.examples.java.game.Game2Next" />
        <activity android:name="com.google.ar.core.examples.java.game.Game2Intro" />
        <activity android:name="com.google.ar.core.examples.java.game.Game1Intro" />
        <activity android:name="com.google.ar.core.examples.java.game.Game2Activity" />
        <activity android:name="com.google.ar.core.examples.java.game.Game1Next" />
        <activity android:name="com.google.ar.core.examples.java.game.Game1Activity" />
        <activity android:name="com.google.ar.core.examples.java.game.GameStory1" />
        <activity android:name="com.google.ar.core.examples.java.game.GameStory2" />
        <activity android:name="com.google.ar.core.examples.java.game.GameStory6" />
        <activity android:name="com.google.ar.core.examples.java.GameCardActivity" />
        <activity android:name="com.google.ar.core.examples.java.GameInfoActivity" />
        <activity android:name="com.google.ar.core.examples.java.Road" />
        <activity android:name="com.google.ar.core.examples.java.Map" />
        <activity android:name="com.google.ar.core.examples.java.recomendActivity.RecoActivity" />
        <activity android:name="com.google.ar.core.examples.java.DescriptionActivity" />
        <activity android:name="com.google.ar.core.examples.java.recomendActivity.RecoDescriptionActivity" />
        <activity android:name="com.google.ar.core.examples.java.IntroduceActivity" />
        <activity android:name="com.google.ar.core.examples.java.ArNavigationActivity" />
        <activity android:name="com.google.ar.core.examples.java.recomendActivity.ArNpc1" />
        <activity android:name="com.google.ar.core.examples.java.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.ar.core.examples.java.HomeTestActivity"></activity>
        <activity android:name="com.google.ar.core.examples.java.MapInfoActivity" />
        <activity
            android:name="com.google.ar.core.examples.java.kotlingif.GifActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.google.ar.core.examples.java.StartActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.google.ar.core.examples.java.Answer"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.google.ar.core.examples.java.InstagramActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.google.ar.core.examples.java.TmapActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".AugmentedImageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Indicates whether "Google Play Services for AR" (ARCore) is "required" or "optional". -->
        <activity
            android:name="com.google.ar.core.examples.java.ChromaKeyVideoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider{2668747140105728}"
            android:exported="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>